<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.ui">

    <application>
        <activity android:name=".PathAnimActivity" />

        <activity android:name=".zhibo.LiveMainActivity" />
        <activity android:name=".zhibo.MagicTextViewActivity" />
    </application>

</manifest>