<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.test">

    <application
        android:name="com.app.test.base.App"
        android:allowBackup="true"
        android:icon="@drawable/code6"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/TeachingAppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.app.test.main.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.app.test.line.LineActivity" />
        <activity
            android:name="com.app.test.circle.CircleActivity"
            android:theme="@style/ProgressDatePicker" />
        <activity
            android:name="com.app.test.date.DateActivity"
            android:theme="@style/ProgressDatePicker" />
        <activity android:name="com.app.test.expandablelist.ExpandableListViewActivity" />
        <activity android:name="com.app.test.test.CirclePieActivity" />
        <activity android:name="com.app.test.showimage.ShowIamgeActivity" />
        <activity android:name="com.app.test.ring.anim.color.RingAnimColorActivity" />
        <activity android:name="com.app.test.circle.anim.color.ColorCircleActivity" />
        <activity android:name="com.app.test.column.ColumnActivity" />
        <activity android:name="com.app.test.glide.img.GlideLoadImgAcitvity" />
        <activity android:name="com.app.test.viewpager.ViewPagerActivity" />
        <activity android:name="com.app.test.service.ServiceActivity" />
        <activity android:name="com.app.test.mvvm.databinding.DataBindingActivity" />

        <activity android:name="com.app.test.shadow.ShadowActivity" />

        <activity android:name="com.app.test.camera.CameraActivity" />
        <activity
            android:name="com.app.test.camera.CutCameraActivity"
            android:configChanges="orientation|keyboard"
            android:screenOrientation="landscape" />
        <activity android:name="com.app.test.notice.NoticeActivity" />
        <activity android:name="com.app.test.recyclerview.RecyclerViewActivity" />
        <activity android:name="com.app.test.wave.WaveActivity" />
        <activity android:name="com.app.test.webview.WebViewActivity" />
        <activity android:name="com.app.test.cardview.CardViewActivity" />
        <activity android:name="com.app.test.anim.AnimActivity" />
        <activity android:name="com.app.test.recyclerview.DampingActivity" />
        <activity android:name="com.app.test.smartrefresh.SmartRefreshActivity" />
        <activity android:name="com.app.test.lottie.LottieActivity" />
        <activity android:name="com.app.test.redenveloped.RedEnvelopesActivity" />
        <activity android:name="com.app.test.bezier.NewUiActivity" />
        <activity android:name="com.app.test.floatbutton.FloatButtonActivity" />
        <activity android:name="com.app.test.circularprogress.CircularProgressActivity" />
        <activity android:name="com.app.test.circularprogress.Sample1Activity" />
        <activity android:name="com.app.test.circularprogress.Sample2Activity" />
        <activity android:name="com.app.test.circularprogress.Sample3Activity" />
        <activity android:name="com.app.test.circularprogress.Sample4Activity" />
        <activity android:name="com.app.test.circularprogress.Sample5Activity" />
        <activity android:name="com.app.test.progressbar.ProgressActivity" />
        <activity android:name="com.app.test.titanic.TitanicActivity" />
        <activity android:name="com.app.test.scrollview.ScrollViewActivity" />
        <activity android:name="com.app.test.ring.anim.CircleBankActivity" />
        <activity android:name="com.app.test.ring.anim.CircleMenuActivity" />
        <activity android:name="com.app.test.ring.anim.CircleActivity" />
        <activity android:name="com.app.test.sortlist.SortListActivity" />
        <activity android:name="com.app.test.matrix.MatrixActivity" />
        <activity android:name="com.app.test.timelytextview.TimelyActivity" />
        <activity android:name="com.app.test.radar.RadarActivity" />
        <activity android:name="com.app.test.bubble.BubbleActivity" />
        <activity android:name="com.app.test.likesougou.LikeSouGouActivity" />
        <activity android:name="com.app.test.game.ui.AnswerActivity" />
        <activity android:name="com.app.test.path.PathActivity" />
        <activity android:name="com.app.test.flexbox.FlexboxActivity" />
        <activity android:name="com.app.test.jbox.JBoxActivity" />
        <activity android:name="com.app.test.paint.PaintActivity" />
        <activity android:name="com.app.test.pickcrop.PickCropActivity" />
        <activity android:name="com.app.test.pickcrop.MediaPickerActivity" />
        <activity android:name="com.app.test.williamchart.williamchartdemo.CharActivity" />
        <activity android:name="com.app.test.citypicker.CityPickerActivity" />
        <activity android:name="com.app.test.edittext.PasswordActivity" />
        <activity android:name="com.app.test.appinfo.AppInfoActivity" />
        <activity android:name="com.app.test.vector.VectorActivity" />
        <activity android:name="com.app.test.viewpager.viewpager.ViewPagerActivity" />
        <activity
            android:name="com.app.test.spannable.SpannableActivity"
            android:hardwareAccelerated="false" />
        <activity
            android:name="com.app.test.transition.activity.DetailActivity"
            android:theme="@style/activity_back" />
        <activity android:name="com.app.test.transition.activity.TransitionActivity" />
        <activity
            android:name="com.app.test.keyboard.KeyboardActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Theme.AppCompat" />
        <!-- Use your package name + ".pncfileprovider" as authorities -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.app.test.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- //集成热更新使用-->
        <!--<activity-->
        <!--android:name="com.tencent.bugly.beta.ui.BetaActivity"-->
        <!--android:theme="@android:style/Theme.Translucent" />-->
        <service android:name="com.app.test.service.DownLoadService" />
    </application>

    <uses-feature android:name="android.hardware.camera" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 1.6版本SDK那么在写入SD卡时需要加入WRITE_EXTERNAL_STORAGE权限许可 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXTERNAL.STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--腾讯热更新 权限Start-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--保存资源到SD卡-->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--腾讯热更新 权限end-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
